{% extends "base/base.html" %} 

{% block title %}
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
{% if validlink %}

<h2>Nueva contraseña</h2>


<form method="post">
	{% csrf_token %}
    {{ form.new_password1.errors}}
    <label for="new_password1">Nueva contraseña:</label>
    {{form.new_password1}}

    {{ form.new_password2.errors}}
    <label for="new_password2">Confirme contraseña:</label>{{form.new_password2}}
    <input type="aubmit" value="Cambiar mi contraseña" />
</form>

{% else %}

<h2 class="text-center"> ESTE ENLACE YA FUE UTILIZADO <h2>
{% endif %}

{% endblock content %} 




{% endblock content %}