{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tecmaplastico - Administración</title>

  <!-- Bootstrap core CSS -->

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/animated.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading ml-5">
        <img src="{% static 'img/logo_light.png' %}" class="img rounded-circle" width="100px" height="100px" alt="logo" srcset="">
      </div>
      <div class="list-group list-group-flush">
        <a href="{% url 'maestranza_app:area' %}" class="list-group-item list-group-item-action bg-light">Areas</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Accesos</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Eventos</a>
        <a href="{% url 'portfolio_app:portafolio_listar' %}" class="list-group-item list-group-item-action bg-light">Noticias</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Perfil</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Estado</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'maestranza_app:index' %}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'maestranza_app:proyecto_listar' %}">Listado</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %} Hola {{ user.get_username }}
                {% else %} Sesion {% endif %}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'logout' %}">logout</a>
                <a class="dropdown-item" href="{% url 'maestranza_app:proyecto_crear' %}">Crear</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <h2 class="mt-4">Administracion | {% block subtitle %}{% endblock %}</h2>
        {% block content %} {% endblock %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
