{% extends 'base/base_maestranza.html' %}

{% block title %}Maestranza{% endblock title %}
{% block subtitle %}Areas{% endblock %}

{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col ">
            <div class="list-group">

            </div>
                <a class="list-group-item list-group-item-action" href="{% url 'maestranza_app:proyecto_listar' %}">Proyectos</a>
                <a class="list-group-item list-group-item-action" href="">Adquisiciones</a>
                <a class="list-group-item list-group-item-action"  href="">Taller</a>
           
        </div>
    </div>
</div>
{% endblock content %}