{% extends 'base/base_maestranza.html' %}

{% block title %}Listar proyectos{% endblock title %}
{% block subtitle %}Listado{% endblock %}

{% block content %}
		<br>
		<div class="<div class="container-fluid">
			<div class="row">
				<div class="col col-6">
					<a class="btn btn-primary" href="{% url 'maestranza_app:proyecto_crear' %}">Agregar +</a>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<table class="table table-bordered">
						<thead class="thead-dark">
							<tr class="bg-dark">
								<th scope="col">#</th>
								<th scope="col">Proyecto</th>
								<th scope="col">Empresa</th>
								<th scope="col">Fecha de inicio</th>
								<th scope="col">Encargado</th>
								<th scope="col">Acciones</th>
							</tr>
							
						</thead>
						<tbody>
							{% if object_list %}  <!-- SE USA OBJECT_LIST SOLO PARA VISTAS BASADAS EN CLASES, PARA FUNCIONES USAR DICCIONARIO-->
							{% for proyecto in object_list %}
							<tr>
								<td>{{ proyecto.id }}</td>
								<td>{{ proyecto.nombre_proyecto }}</td>
								<td>{{ proyecto.empresa }}</td>
								<td>{{ proyecto.fecha_inicio }}</td>
								{% comment %} <td>
								<ul>{% for vacuna in mascota.vacuna.all %}
									<li>
										{{vacuna.nombre}}
									</li>
									{% endfor %}
								</ul>
								</td> {% endcomment %}
								<td>
								<ul> {% for persona in proyecto.persona.all %}
									<li>
										{{persona.nombre}}
									</li>
									{% endfor %}
								</ul>    
								</td>
								<td>
									<a class="btn btn-primary" href="#">Editar</a>
									<a class="btn btn-danger" href="{% url 'maestranza_app:proyecto_eliminar' proyecto.id %}">Eliminar</a>
								</td>
							</tr>
							{% endfor %}
							
							{% else %}
							<h1>No hay registros de proyectos</h1>
							{% endif %}
						</tbody>
					</table> 
				</div>
			</div>
			
			<ul class="pagination">
				<li class= "page-item">
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a>
					{% endif %}
				</li>
				<li class="page-item">
					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a> 
					{% endif %}
				</li>
			</ul> 
		</div>
		
{% endblock content %}